// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #21209C;
$yellow: #FDB827;
$orange: #EB5E28;
$green: #1EDD88;
$black: #252422;
$dark-gray: #403D39;
$gray: #CCC5B9;
$light-gray: #FFFCF2;
