<% if @registrations.empty? %>
  <p>You have not registered for any courses yet.</p>
<% else %>
  <div class="timetable-container" data-controller="toggle-timetable">
    <div id="timetable-toggle-buttons-container">
      <button id="SoSe-toggle-button" class="btn active-toggle" data-action="click->toggle-timetable#toggle">Summer Semester</button>
      <button id="WiSe-toggle-button" class="btn" data-action="click->toggle-timetable#toggle">Winter Semester</button>
    </div>

    <div id="timetable-content-container">
      <table id="SoSe-timetable" class="semester-table">
        <thead>
          <th></th>
          <th>Mon</th>
          <th>Tue</th>
          <th>Wed</th>
          <th>Thu</th>
          <th>Fri</th>
        </thead>
        <tbody>
          <% timeslot_counter = 1 %>
          <% (1..7).each do |row| %>
            <tr>
              <td class="timetable-time"><%= timeslot_for_row(row) %></td>
              <% (timeslot_counter..(timeslot_counter + 4)).each do |timeslot| %>
                <% course = @courses.find{ |course| course.timeslot == timeslot_counter } %>
                <td class="timetable-course-cell">
                  <div class="timetable-course-content-container">
                    <%= course ? course.title : "" %>
                  </div>
                </td>
                <% timeslot_counter += 1 %>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
      <table id="WiSe-timetable" class="d-none semester-table">
        <thead>
          <th></th>
          <th>Mon</th>
          <th>Tue</th>
          <th>Wed</th>
          <th>Thu</th>
          <th>Fri</th>
        </thead>
        <tbody>
          <% timeslot_counter = 36 %>
          <% (1..7).each do |row| %>
            <tr>
              <td><%= timeslot_for_row(row) %></td>
              <% (timeslot_counter..(timeslot_counter + 4)).each do |timeslot| %>
                <% course = @courses.find{ |course| course.timeslot == timeslot_counter } %>
                <td><%= course ? course.title : "" %></td>
                <% timeslot_counter += 1 %>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
<% end %>
