<h1>My registered courses</h1>
<br>
<br>
<br>


<% if @registrations.empty? %>
  <p>You have not registered for any courses yet.</p>
<% else %>
  <% @registrations.each do |registration| %>
    <h2><%= registration.course.title %></h2>
    <p><%= registration.course.description %></p>
    <p><%= registration.course.timeslot %></p>
    <%= link_to 'Unregister', registration, method: :delete, data: { confirm: 'Are you sure?' } %>
    <br>
    <br>
  <% end %>
<% end %>
