<h1>Courses</h1>

<div class="course-table" data-controller="toggle-classinfo">
  <% @courses.each do |course| %>
    <div class="course-card">
      <h2><%= course.title %></h2>
      <p><%= course.description %></p>
      <button class="btn register-btn">Register</button>
    </div>
  <% end %>
</div>
