.classinfo-btn {
  width: 50%;
  padding: 5px;

  background-color: $gray;
  color: $black;

  transition: background-color 0.5s, color 0.5s;
  &:hover {
    color: $light-gray;
    background-color: #ccc5b99d;
  }
}
