.navbar-lewa {
  justify-content: space-between;
  background: $black;
}

.navbar-nav .active a {
  color: $orange;
}

.nav-link {
  font-size: 1.2rem;
  color: $white;
  transition: 0.5s;
  &:hover {
    color: $dark-gray;
  }
}

.navbar-lewa .navbar-brand img {
  width: 80px;
}
