.navbar-lewa {
  justify-content: space-between;
  background: black;
}

.nav-link {
  color: white;
  transition: 0.5s;
  &:hover {
    color: grey;
  }

}

.navbar-lewa .navbar-brand img {
  width: 50px;
}
