.course-card-buttons form {
  width: 50%;
}

.register-btn {
  width: 100%;
  padding: 5px;

  background-color: $dark-gray;
  color: $white;

  transition: background-color 0.5s, color 0.5s;
  &:hover {
    color: $orange;
    background-color: #403d399d;
  }
}
